# Nagios legacy macros
$USER1$=$NAGIOSPLUGINSDIR$
$NAGIOSPLUGINSDIR$=/usr/lib/nagios/plugins
# For a FreeBSD, set this value:
# $NAGIOSPLUGINSDIR$=/usr/local/libexec/nagios

#-- Alignak main directories
#-- Those macros are automatically updated during the Alignak installation
#-- process (eg. python setup.py install)
$BIN$=/usr/local/bin
$ETC$=/usr/local/etc/alignak
$VAR$=/usr/local/var/libexec/alignak
$RUN$=/usr/local/var/run/alignak
$LOG$=/usr/local/var/log/alignak

$USER$=alignak
$GROUP$=alignak

#-- Those macros are declared to be used in some templates or commands definition
$LIBEXEC$=$VAR$
$PLUGINSDIR$=$VAR$
